In [1]:
import numpy as np
import pandas as pd

In [2]:
from gapminder import gapminder

In [3]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
gapminder[gapminder['country']=='Cuba']

    country continent  year  lifeExp       pop    gdpPercap
384    Cuba  Americas  1952   59.421   6007797  5586.538780
385    Cuba  Americas  1957   62.325   6640752  6092.174359
386    Cuba  Americas  1962   65.246   7254373  5180.755910
387    Cuba  Americas  1967   68.290   8139332  5690.268015
388    Cuba  Americas  1972   70.723   8831348  5305.445256
389    Cuba  Americas  1977   72.649   9537988  6380.494966
390    Cuba  Americas  1982   73.717   9789224  7316.918107
391    Cuba  Americas  1987   74.174  10239839  7532.924763
392    Cuba  Americas  1992   74.414  10723260  5592.843963
393    Cuba  Americas  1997   76.151  10983007  5431.990415
394    Cuba  Americas  2002   77.158  11226999  6340.646683
395    Cuba  Americas  2007   78.273  11416987  8948.102923

In [15]:
europe_1997 = gapminder[(gapminder['continent'] == 'Europe') & (gapminder['year'] == 1997)]
europe_1997['gdpPercap'].mean()

np.float64(19076.781801600002)

In [ ]:
Which country has the highest gdpPercap in this dataset? Answer 3 Question 1

In [17]:
gap_sorted = gapminder.sort_values('gdpPercap', ascending=False)

gap_sorted.head()

    country continent  year  lifeExp     pop     gdpPercap
853  Kuwait      Asia  1957   58.033  212846  113523.13290
856  Kuwait      Asia  1972   67.712  841934  109347.86700
852  Kuwait      Asia  1952   55.565  160000  108382.35290
854  Kuwait      Asia  1962   60.470  358266   95458.11176
855  Kuwait      Asia  1967   64.624  575003   80894.88326

In [22]:
aplphabetic_sorted_gapminder = gapminder.sort_values('country', ascending=True)
df = aplphabetic_sorted_gapminder.set_index('country')

df1 = df.loc['Cuba':'Slovenia']

range1 = df1['pop'].max() - df1['pop'].min()
range1

np.int64(1110336320)