In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

extra_file = 'insurance_customer_data_20_percent_dirty.csv'

df_extra = pd.read_csv(extra_file)

In [5]:
df_extra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 500 non-null    int64
 1   age                         495 non-null    float64
 2   gender                      498 non-null    object
 3   insurance_status            496 non-null    object
 4   policy_type                 494 non-null    object
 5   years_with_company          497 non-null    float64
 6   dentist_visits_per_year     498 non-null    object
 7   annual_checkups             496 non-null    object
 8   occupational_category       497 non-null    object
 9   chronic_condition           422 non-null    object
 10  smoker_status               498 non-null    object
 11  alcohol_consumption_weekly  379 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 47.0+ KB

In [6]:
df_extra.describe()

        customer_id         age  years_with_company
count    500.000000  495.000000          497.000000
mean   10250.500000   51.179798           20.941650
std      144.481833   23.118293           14.355461
min    10001.000000  -10.000000           -2.000000
25%    10125.750000   34.000000           10.000000
50%    10250.500000   50.000000           21.000000
75%    10375.250000   66.000000           31.000000
max    10500.000000  150.000000          100.000000

In [7]:
df_extra.head()

,customer_id,age,gender,insurance_status,policy_type,years_with_company,dentist_visits_per_year,annual_checkups,occupational_category,chronic_condition,smoker_status,alcohol_consumption_weekly
0,10476,49.0,Male,Pending,family,27.0,0.0,1,office worker,Heart Disease,Former,Low
1,10383,53.0,Male,Pending,Basic,21.0,2,1,Office Worker,Heart Disease,Yes,NaN
2,10454,82.0,Male,Active,Family,100.0,0.0,1,Manager,Heart Disease,Yes,Moderate
3,10053,73.0,Male,Active,Gold,7.0,0,1,Engineer,Arthritis,Yes,NaN
4,10446,72.0,Female,Pending,Basic,-2.0,2.0,10,Engineer,Heart Disease,No,Moderate