In [4]:
pip install duckdb

Requirement already satisfied: duckdb in /Users/robertgreene/VS_CODE/Python/BIPM_WS25/.venv/lib/python3.9/site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import duckdb

In [6]:
con = duckdb.connect("jack_is_ccol.duckdb")

In [13]:
con.sql("""SELECT * FROM Departments;""")

┌─────────┬───────────┬──────────┐
│ dept_id │ dept_name │ building │
│  int32  │  varchar  │ varchar  │
├─────────┴───────────┴──────────┤
│             0 rows             │
└────────────────────────────────┘

In [28]:
con.sql("""
-- =============================================================================
-- UNIVERSITY SAMPLE DATABASE (DuckDB Version - Fixed Dependencies)
-- =============================================================================

-- =============================================================================
-- STEP 0: CLEANUP / RESET
-- =============================================================================
-- We use CASCADE to force the drop even if other tables reference them.
-- We also drop the sequences to reset the IDs back to 1.

DROP TABLE IF EXISTS Enrollments CASCADE;
DROP TABLE IF EXISTS Courses CASCADE;
DROP TABLE IF EXISTS Students CASCADE;
DROP TABLE IF EXISTS Professors CASCADE;
DROP TABLE IF EXISTS Departments CASCADE;

DROP SEQUENCE IF EXISTS seq_dept_id;
DROP SEQUENCE IF EXISTS seq_prof_id;
DROP SEQUENCE IF EXISTS seq_student_id;
DROP SEQUENCE IF EXISTS seq_course_id;
DROP SEQUENCE IF EXISTS seq_enrollment_id;

-- =============================================================================
-- STEP 1: CREATE THE DATABASE TABLES
-- =============================================================================

-- -----------------------------------------------------
-- Table: Departments
-- -----------------------------------------------------
CREATE SEQUENCE seq_dept_id;
CREATE TABLE Departments (
    dept_id INTEGER PRIMARY KEY DEFAULT nextval('seq_dept_id'),
    dept_name VARCHAR(100) NOT NULL,
    building VARCHAR(50)
);

-- -----------------------------------------------------
-- Table: Professors
-- -----------------------------------------------------
CREATE SEQUENCE seq_prof_id;
CREATE TABLE Professors (
    prof_id INTEGER PRIMARY KEY DEFAULT nextval('seq_prof_id'),
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    dept_id INT,
    hire_date DATE,
    salary NUMERIC(10, 2),
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id)
);

-- -----------------------------------------------------
-- Table: Students
-- -----------------------------------------------------
CREATE SEQUENCE seq_student_id;
CREATE TABLE Students (
    student_id INTEGER PRIMARY KEY DEFAULT nextval('seq_student_id'),
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    enrollment_date DATE,
    gpa NUMERIC(3, 2),
    major_dept_id INT,
    FOREIGN KEY (major_dept_id) REFERENCES Departments(dept_id)
);

-- -----------------------------------------------------
-- Table: Courses
-- -----------------------------------------------------
CREATE SEQUENCE seq_course_id;
CREATE TABLE Courses (
    course_id INTEGER PRIMARY KEY DEFAULT nextval('seq_course_id'),
    course_code VARCHAR(10) NOT NULL,
    course_name VARCHAR(100) NOT NULL,
    credits INT,
    dept_id INT,
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id)
);

-- -----------------------------------------------------
-- Table: Enrollments
-- -----------------------------------------------------
CREATE SEQUENCE seq_enrollment_id;
CREATE TABLE Enrollments (
    enrollment_id INTEGER PRIMARY KEY DEFAULT nextval('seq_enrollment_id'),
    student_id INT,
    course_id INT,
    semester VARCHAR(20),
    grade VARCHAR(2),
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);


-- =============================================================================
-- STEP 2: INSERT SAMPLE DATA INTO THE TABLES
-- =============================================================================

-- Populate the Departments table
INSERT INTO Departments (dept_name, building) VALUES
('Computer Science', 'Science Hall'),
('History', 'Main Hall'),
('Physics', 'Newton Building'),
('Fine Arts', 'Creative Arts Center');

-- Populate the Professors table
INSERT INTO Professors (first_name, last_name, dept_id, hire_date, salary) VALUES
('Alan', 'Turing', 1, '1995-09-01', 95000.00),
('Ada', 'Lovelace', 1, '2002-08-15', 82000.00),
('Marie', 'Curie', 3, '1998-01-20', 110000.00),
('Howard', 'Zinn', 2, '1990-07-01', 78000.00);

-- Populate the Students table
INSERT INTO Students (first_name, last_name, enrollment_date, gpa, major_dept_id) VALUES
('John', 'Smith', '2022-09-01', 3.5, 1),
('Jane', 'Doe', '2021-09-01', 3.8, 2),
('Peter', 'Jones', '2022-09-01', 3.1, 1),
('Mary', 'Williams', '2020-09-01', 2.9, 3),
('David', 'Brown', '2023-09-01', 4.0, NULL);

-- Populate the Courses table
INSERT INTO Courses (course_code, course_name, credits, dept_id) VALUES
('CS101', 'Intro to Programming', 3, 1),
('HIS205', 'Modern World History', 3, 2),
('PHY301', 'Quantum Mechanics', 4, 3),
('CS347', 'Database Systems', 3, 1),
('ART100', 'Art Appreciation', 2, 4);

-- Populate the Enrollments table
INSERT INTO Enrollments (student_id, course_id, semester, grade) VALUES
(1, 1, 'Fall 2022', 'A'),
(1, 4, 'Spring 2023', 'A-'),
(2, 2, 'Fall 2021', 'B+'),
(3, 1, 'Fall 2022', 'B'),
(4, 3, 'Spring 2022', 'C+'),
(1, 2, 'Fall 2023', NULL);
""")

In [32]:
df = con.execute("SELECT * FROM Students").fetchdf()

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   student_id       5 non-null      int32
 1   first_name       5 non-null      object
 2   last_name        5 non-null      object
 3   enrollment_date  5 non-null      datetime64[us]
 4   gpa              5 non-null      float64
 5   major_dept_id    4 non-null      Int32
dtypes: Int32(1), datetime64[us](1), float64(1), int32(1), object(2)
memory usage: 333.0+ bytes

In [36]:
con.sql("""SELECT first_name FROM Students""")

┌────────────┐
│ first_name │
│  varchar   │
├────────────┤
│ John       │
│ Jane       │
│ Peter      │
│ Mary       │
│ David      │
└────────────┘